*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.btn{
    border: none;
    border-radius: 4px;
    background-color: #469165;
    max-width: 164px;
    color: #FFFFFF;
    padding: 12.5px 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-align: center;

}

.green{
    color: #30B868;
}


/* main styles */

nav{
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    max-width:139px;
    width:71%;
    margin: 16px 0px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    max-width: 365px;
    gap: 32px;
    font-size: 16px;
    font-weight: medium;
    color: black;
}

nav .menu li{
    font-size: 16px;
    color: #000000;
}

#banner{
    padding: 115.5px 120px 179.5px;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/hero-bg.png);
    background-repeat: none;
}

#banner .banner-content{
    width: 90%;
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
}

.banner-content div p{
    width:90%;
    max-width: 229px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: medium;
    margin: 0px 565.5px 16px 565.5px;  ;
    
}

.banner-content h1{
    width: 90%;
    max-width: 770px;
    margin:0px 295px 15px 295px;
    color: #FFFFFF;
    font-size: 72px;
    line-spacing: 8%;

   
}

.banner-content p{
    width: 90%;
     max-width: 770px;
    margin:0px 295px 15px 295px;
    text-align: center;
    font-size: 18px;
    font-weight: regular;
    line-height: 24px;
    color: #FFFFFF;
   
}

.banner-content .button{
    display: flex;
    margin: 32px 477.5px 0 477.5px; 
    max-width: 465px;
    gap: 16px;
}

#Unique{
   background: none;
   border: 2px solid #FFFFFF;
    max-width: 198px;
}

.banner-content .button .btn{
    width:90%;
    max-width: 251px;
}

#note .selection-container{
    width: 90%;
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
    padding : 0px 120px;
}

#note .selection-container .selection-heading h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    line-height: 60px;
    text-align: center; 
    margin-top: 50px;
    
}

#note .selection-container .selection-heading p{
    font-size: 16px;
    font-weight: regular;
    line-height: 20px;
    color: #627382;
    margin-top: 15px;
}

.note_box{
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 62px;
    gap: 24px;
}

.skill-card{
    max-width: 322px;
    width: 90%;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px 0 #00000026;
}



.skill-card img{
    width: 90%;
    max-width: 32px;
    max-height: 32px;
    border-radius: 100%;
    background-color:#F95555 ;
    margin: 79.5px 131px 16px;

}

.skill-card h3{
    width: 90%;
    max-width: 274px;
    margin: 0px 24px 16px;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

.skill-card p{
    width: 90%;
    max-width: 274px;
    margin: 0px 24px 79.5px;
    font-size: 16px;
    font-weight: regular;
    line-height: 20px;
    color: #627382;
}