*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.btn{
    border: none;
    border-radius: 4px;
    background-color: #469165;
   
    color: #FFFFFF;
    padding: 12.5px 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-align: center;

}

.green{
    color: #30B868;
}

.btn:hover{
    background-color: #5d6973;
    box-shadow: 0px 10px 50px 0 #04040426;

}

#Unique:hover{
    background-color: #5d6973;
    box-shadow: 0px 10px 50px 0 #04040426;
}

.skill-card:hover{

     box-shadow: 0px 20px 100px 0 #0404046f;


}


/* main styles */

nav{
    max-width: 1600px;
   
    margin: 0 auto;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    max-width:139px;
   
    margin: 16px 0px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    max-width: 365px;
    gap: 32px;
    font-size: 16px;
    font-weight: medium;
    color: black;
}

nav .menu li{
    font-size: 16px;
    color: #000000;
}

#banner{
    padding: 115.5px 120px 179.5px;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/hero-bg.png);
    background-repeat: none;
}

#banner .banner-content{
    
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
}

.banner-content div p{
    
    max-width: 229px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: medium;
    margin: 0px 565.5px 16px 565.5px;  ;
    
}

.banner-content h1{
   
    max-width: 770px;
    margin:0px 295px 15px 295px;
    color: #FFFFFF;
    font-size: 72px;
    letter-spacing: 8%;

   
}

.extra{
    max-width: 229px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: medium;
}

.banner-content p{
    
    max-width: 770px;
    margin:0px 295px 15px 295px;
    text-align: center;
    font-size: 18px;
    font-weight: regular;
    line-height: 24px;
    color: #FFFFFF;
   
}

.banner-content .button{
    display: flex;
    margin: 32px 477.5px 0 477.5px; 
    max-width: 465px;
    gap: 16px;
}

#Unique{
   background: none;
   border: 2px solid #FFFFFF;
    max-width: 198px;
}

.banner-content .button .btn{
    
    max-width: 251px;
}

#note .selection-container{
   
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
    padding : 0px 120px;
}

#note .selection-container .selection-heading h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    line-height: 60px;
    text-align: center; 
    margin-top: 50px;
    
}

#note .selection-container .selection-heading p{
    font-size: 16px;
    font-weight: regular;
    line-height: 20px;
    color: #627382;
    margin-top: 15px;
}

.note_box{
    display: flex;
    justify-content: space-between;
    padding : 44px 120px 62px 120px;
    justify-content: center;
    gap: 24px;
}

.skill-card{
    max-width: 322px;
    
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px 0 #00000026;
}



.skill-card img{
    
    max-width: 32px;
    max-height: 32px;
    border-radius: 100%;
    background-color:#F95555 ;
    margin: 79.5px 131px 16px;

}

.skill-card h3{
   
    max-width: 274px;
    margin: 0px 24px 16px;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

.skill-card p{
    
    max-width: 274px;
    margin: 0px 24px 79.5px;
    font-size: 16px;
    font-weight: regular;
    line-height: 20px;
    color: #627382;
}

.brain_container{
   
    max-width: 1360px;
    margin: 0px auto;
    padding: 120px;
    display: flex;
}

.brain_image img{
    max-width: 600px;
    max-height: 600px;
    

}

.brain_content{
    margin: 102px 0px 102px 60px;
   
    max-width: 700px;
    height: 396px;
}

.brain_content h5{
   font-size: 16px;
   line-height: 20px;
   font-weight: medium;
   text-align: left;

}

.brain_content h2{
    font-size: 48px;
    line-height: 60px;
    font-weight: bold;
    text-align: left;
    color: #001931;
    font-weight: 700px;
   
    max-width: 700px;
    max-height: 116px;
    margin-top: 16px;
   
}

.letter{
    font-size: 16px;
    line-height: 20px;
    font-weight: regular;
    text-align: left;
    color: #627382;
   
    margin-top: 16px;
    margin-bottom: 40px;
}


.points p{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
    font-weight: regular;
    text-align: left;
    color: #001931

}

#Early_Access .early_access-container{
    max-width: 1600px;
    margin: 0px auto;
    text-align: center;
}

.early_access-container .access-content{
    max-width: 1360px;
    max-height: 384px;
    margin: 2px 120px 120px;
    background-color: #F7F6F2;
    padding: 80px 40px;
}

.access-content h2{
    font-size: 40px;
    line-height: auto;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.Text p{
    font-size: 16px;
    line-height: 24px;
    font-weight: regular;
    color: #627382;
    margin-bottom: 24px;
}
.access-content .btn{
    max-width: 194px;
    
}

.access_below p{
    font-size: 16px;
    font-weight: regular;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}


.footer-container{
    align-items: center;
    max-width: 1360px;
    padding: 120px 120px 30px 120px ;
    margin: 0px auto;
    background-color: #001931;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
}

.footer-content .footer-logo img{
    max-width: 350px;
    max-height: 60px;
   
}

.social p{
    max-width: 113px;
    font-size: 20px;
    line-height: 28px;
    font-weight: medium;
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-right: 107px;
}


.social-icons{
    margin-right: 128px;
}

.copyright p{
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: regular;
    color: #FAFAFA;
    text-align: center;
}

