*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.btn{
    border: none;
    border-radius: 4px;
    background-color: #469165;
    max-width: 164px;
    color: #FFFFFF;
    padding: 12.5px 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-align: center;

}


/* main styles */

nav{
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    max-width:139px;
    width:71%;
    margin: 16px 0px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    max-width: 365px;
    gap: 32px;
    font-size: 16px;
    font-weight: medium;
    color: black;
}

nav .menu li{
    font-size: 16px;
    color: #000000;
}